.ribbon {

    &__subject {
        &__label {
            &--link {
                text-decoration: none;
                color: black;
                font-weight: normal;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}