/* Based on https://www.w3schools.com/howto/howto_js_autocomplete.asp */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root {
  --font-family: ["Lato", "sans-serif"];
  --font-size: 12px;
  --autocomplete-width: 310px;
  --autocomplete-item-font-size: 10px;
  --autocomplete-item-height: 300px;
}

* { box-sizing: border-box; }
body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: var(--autocomplete-width);
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: var(--font-size);
}
input[type=text] {
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  position:absolute;
  cursor:default;
  z-index:1001 !important;
  font-size: var(--font-size);
  line-height: 1.2rem;
  overflow-y: scroll;
  height: var(--autocomplete-item-height);
  border: 1px solid black;
  border-radius: 0px 0px 0px 15px;
  padding: 0.5rem 0rem 0rem 0.5rem;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  display: table-row;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.autocomplete__item__label {
  display: table-cell;
  width: 50%;
  padding: 0.2rem 0.5rem;
}

.autocomplete__item__taxon {
  display: table-cell;
  width: 50%;
  padding: 0.2rem 0.5rem;
  margin: 1rem;
  text-align: right;
}

.autocomplete__item__id {
  display: table-cell;
  width: 0%;
  padding: 0.2rem 0.5rem;
}

a {
  text-decoration: none;
}

.autocomplete i { 
  position: absolute; 
} 

.icon { 
  padding: 10px; 
  min-width: 40px; 
} 

.icon-left {
  padding: 10px; 
  left: 0px;
}

.icon-right {
  padding: 10px; 
  right: 0px;
  cursor: pointer;
}

.input-field { 
  width: 100%; 
  padding: 10px 35px; 
  text-align: left; 
} 